* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* most important... somehow fixes horizontal scrollbars */
}

body {
    font-family: "Sedan SC";
    overflow-x: hidden; /* Hide horizontal overflow */
    background-color: #222034;
    color: #959595;
}

p {
    font-size: 1.3em;
    padding: 2%;
}

nav {
    position: relative; /* Position the nav element */
}

nav ul {
    z-index: 10;
    margin-top: 3vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
}

nav li {
    height: 50px;
    padding: 0 30px; /* Add padding on both sides */
    margin: 0; /* Remove any margin */
}

nav a {
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #c0c5a5ff;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

nav li:first-child {
    margin-right: auto;
}

nav img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;

}
.overlay h1 {
    font-size: 5em;
    color: #959595;
}
.overlay2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, 0);
}

.background{
    z-index: -2;
    width: 100%;
    height: auto;

    position: fixed;
}

.grid-item {
    padding: 5% 3% 5% 3%;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    padding: 2%;
    place-items: center;
    background-color: #222034;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    padding: 2%;
    place-items: center;
    background-color: #222034;
}

.grid-container-2 h1 {
    color: #c0c5a5ff;
    font-size: 2em;
}

.grid-container h1 {
    color: #c0c5a5ff;
    font-size: 2em;
}

.blocker{
    position: absolute;
    top: 190vh;
    left: 0;
    width: 100%;
    height: 20vh;
    background-color: #0f0819ff;

}

footer {
    padding: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #959595;
    background-color: #0c0f1f;
    font-size: 0.8em;
}
footer div {
    padding: 1%;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    padding-top: 5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    font-size: 1em;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.document {
    padding: 5vh;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.FAQ {
    text-align: center;
    border: 5px solid black;
    width: 100%;
}

.question {
    background-color: #432547;
    padding: 5%;
    cursor: pointer;
    border-top: 2px solid black;
    text-align: center;
    font-weight: bold;
    color: #c0c5a5ff;
}

.answer {
    display: none;
    background-color: #85426f;
    padding: 5%;
    border-top: 2px solid black;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .video-container {
        padding-bottom: 56.25%; /* udržení aspect-ratia */
    }
    
    ul img {
        width: auto; 
        max-width: 100%; /* Prevent images from overflowing their container(toto taky fixuje border box) */
    }
    
    nav a {
        color: #959595;
        background-color: #3a3244ff;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .grid-container-2 {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .grid-container h1 {
        font-size: 2.5em;
        color: #c0c5a5ff;
    }
    
    .grid-container-2 h1 {
        font-size: 2.5em;
        color: #c0c5a5ff;
    }
    
    .grid-container p {
        font-size: 1em;
    }
    .grid-container-2 p {
        font-size: 1em;
    }
    
    .overlay h1 {
        font-size: 3em;
    }
    
    .grid-item-text {
        order: 2; /* změní pozici boxu s texten na 2 */
    }
    
    .grid-item-image {
        order: 1; /* změní pozici boxu s obrázkem na 1 */
    }
}
